extends layout

block content
  div.row
   div.section.col.s12.center-align
    h5 Welcome to MyHub
  if posts
   for post in posts
    div(class="col s12 m8 offset-m2 l6 offset-l3")
     div(class="card-panel grey lighten-5 z-depth-4 hoverable")
      div(class="col row valign-wrapper")
       div(class="col s1 left-align")
        img(src="#{post.user.pic}" alt="" class="circle profil_pic")
       div(class="col s12")
        span(class="black-text")=post.content
  else
    div(class="card-panel grey lighten-5 z-depth-4 hoverable")
     div(class="col row valign-wrapper")
      div(class="col s12")
        span(class="black-text") No more posts in this time