doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=0.4")
    link(rel="shortcut icon" href="/images/cacao.png")
    link(rel='stylesheet', href='/materialize/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar-fixed.top.menu-top
     nav
      div.container
       div.nav-wrapper
         a(href="/").brand-logo 
          img(src="/images/cacao.png" alt="" class="logo")
         .brand-logo.center Developer Community
         a(href="#" data-activates="mobile-demo" class="button-collapse") Menu 
         ul.left.hide-on-med-and-down.right
           li: a(href="/users/add") Users
           li.active: a(href="/workspace") Workspace
         ul.side-nav.right#mobile-demo
           li: a(href="/users/add") Users
           li.active: a(href="/workspace") Workspace
   div.container
    if sliders
     div(class="slider")
      ul(class="slides")
       for slider in sliders
        li
         img(src="#{slider.src}")
         div(class="caption")
          h3=slider.title
          h5(class="light grey-text text-lighten-3")=slider.desc
    block content
    div(class="footer-copyright")
      div(class="container") © 2014 Copyright Text 
       a(class="grey-text darken-4 right" href="#!") More Links
    script(src="/javascripts/jquery-2.1.4.min.js" type="text/javascript")
    script(src="/materialize/js/materialize.min.js" type="text/javascript")
    script(src="/javascripts/main.js" type="text/javascript")
    block footer
