doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header header
    block content
    block footer
      script(src="/javascripts/jquery-2.1.4.min.js" type="text/javascript")
      script(src="/javascripts/users-add.js" type="text/javascript")
