body {
  font: 14px "Roboto";
}

a {
  color: #00B7FF;
}
html{
	background:#ff4444;
}
.header{
	height: 300px;
	background:url(../images/cover.jpg) no-repeat center fixed;
}
.container{
	background: rgba(25,25,25,0.4);
	padding-bottom: 5px;
}
.nav-wrapper{
	background: #ff4444;
}