body {
  font: 14px "Roboto";
}
.header{
	padding: 0px;
}
.header img{
	padding: 0px;
	height: 250px;
}
.container{
	background: rgba(25,25,25,0.0);
	padding-bottom: 5px;
}
.nav-wrapper{
	background: #3e2723;
	color: #3e2723;
}
.profil_pic{
	width: 100px;
	height: 100px;
}
.card-pane{
	border: solid 1px red;
}