body {
  font: 14px "Roboto";
}
a{
	text-decoration: none;
	color: #fff;
}
.header{
	padding: 0px;
}
.header img{
	padding: 0px;
	height: 250px;
}
nav div.container{
}
nav{
	background: #3e2723;
}
.profil_pic{
	width: 100px;
	height: 100px;
}
.logo{
	height: 100px;
	z-index: 2;
	
}
.card-pane{
	border: solid 1px red;
}
#mobile-demo{
	background: rgba(125,125,125,0.4);
}
#mobile-demo li{
	background:#ffffff;
}
#mobile-demo li:hover{
	background: #3e2723;
}
.footer-copyright{
	position: fixed;
	bottom: 0px;
	color:#3e2723;
}